<div class="row" [@routerTransition]>
  <div class="col-sm-12">
    <div class="card mb-3">
      <div class="card-header">{{ 'Assets' | translate }}</div>
      <div class="card-body">
        <button routerLink="/asset/new" class="btn btn-secondary">{{ 'Add' | translate }}</button>
        <br/>
        <br/>
        <div class="table-responsive">
          <table class="table">
              <thead>
                <tr>
                  <th data-field="symbol">{{ 'Symbol' | translate }}</th>
                  <th data-field="name">{{ 'Name' | translate }}</th>
                  <th data-field="description">{{ 'Description' | translate }}</th>                  
                  <th data-field="isEnabled">{{ 'Enabled' | translate }}</th>
                  <th>{{ 'Edit' | translate }}</th>
                  <th>{{ 'Delete' | translate }}</th>
                </tr>
              </thead>
            
              <tbody>
                <tr *ngFor="let asset of assets">
                  <td>{{ asset.symbol }}</td>
                  <td>{{ asset.name }}</td>
                  <td>{{ asset.description }}</td>
                  <td><input type="checkbox" [(ngModel)]="asset.isEnabled" name="isEnabled" disabled></td>
                  <td>
                    <i [routerLink]="['/asset', asset.id]" class="fa fa-fw fa-pencil-square-o"></i>
                  </td>
                  <td>
                    <i (click)="delete(asset)" class="fa fa-fw fa-times"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <button routerLink="/asset/new" class="btn btn-secondary">{{ 'Add' | translate }}</button>
      </div>
    </div>
  </div>
</div>
