$topnav-background-color: #222;
:host {
  display: block;
}

.health-degraded {
  color: yellow;
}

.health-unhealthy {
  color: red;
}

.health-healthy {
  color: green;
}

#particles-js {
  background: $topnav-background-color;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
  .rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0.8);
    background: $topnav-background-color;
    border: 2px solid rgba(255, 255, 255, 0.8);
    font-size: 18px;
    line-height: 40px;
    padding: 0 25px;
    margin-bottom: 5px;
  }
  .rounded-btn:hover,
  .rounded-btn:focus,
  .rounded-btn:active,
  .rounded-btn:visited {
    color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(255, 255, 255, 1);
    outline: none;
  }

  h1 {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    small {
      color: rgba(255, 255, 255, 0.7);
    }
  }

  .form-group {
    padding: 8px 0;
    input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.6) !important;
    }

    input:-moz-placeholder {
      /* Firefox 18- */
      color: rgba(255, 255, 255, 0.6) !important;
    }

    input::-moz-placeholder {
      /* Firefox 19+ */
      color: rgba(255, 255, 255, 0.6) !important;
    }

    input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.6) !important;
    }
  }

  .facebook-logo {
    padding: 5px 0;
  }

  .google-logo {
    padding: 5px 0;
  }

  .mainlogin {
    position: absolute;
    width: 200px;
    left: 50%;
    margin-left: -100px;
  }
}
