<div [@routerTransition] id="particles-js">
    <div class="row mainlogin">
        <div>
            <h1>Estou Rico</h1>
            <app-list-errors [errors]="errors"></app-list-errors>
            <form role="form">
                <!-- <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" placeholder="Password">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="onLoggedin()"> Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">Register</a> -->
                <a class="btn rounded-btn" (click)="onFacebookLogin()"> Log in com Facebook <img src="assets/images/facebooklogo.png" width="30px" class="facebook-logo"/></a>
            </form>
        </div>
    </div>
</div>
