################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CryptoManager.Server/CryptoManager.WebApi/bin/Debug/netcoreapp2.0
/CryptoManager.Server/CryptoManager.WebApi/obj
/CryptoManager.Server/CryptoManager.WebApi.Test/bin/Debug/netcoreapp2.0
/CryptoManager.Server/CryptoManager.WebApi.Test/obj
/.vs
/CryptoManager.Server/.vs
/CryptoManager.Server/CryptoManager.Business/obj
/CryptoManager.Server/CryptoManager.Business/bin/Debug/netstandard2.0
/CryptoManager.Server/CryptoManager.Business.Test/bin/Debug/netcoreapp2.0
/CryptoManager.Server/CryptoManager.Business.Test/obj/Debug/netcoreapp2.0
/CryptoManager.Server/CryptoManager.Business.Test/obj
/CryptoManager.Server/CryptoManager.Domain/bin/Debug/netstandard2.0
/CryptoManager.Server/CryptoManager.Domain/obj
/CryptoManager.Server/CryptoManager.Repository/bin/Debug/netstandard2.0
/CryptoManager.Server/CryptoManager.Repository/obj
/CryptoManager.Server/CryptoManager.Repository.Test/bin/Debug/netcoreapp2.0
/CryptoManager.Server/CryptoManager.Repository.Test/obj
/CryptoManager.Server/CryptoManager.Repository/bin/Debug/netcoreapp2.0
/CryptoManager.Server/CryptoManager.Domain/bin/Release/netstandard2.0
/CryptoManager.Server/CryptoManager.Repository/bin/Release/netcoreapp2.0
/CryptoManager.Server/CryptoManager.WebApi/bin/Release/netcoreapp2.0
/CryptoManager.Server/Publish
/CryptoManager.Server/Logs
/CryptoManager.Server/CryptoManager.Business/bin/Release/netstandard2.0
/CryptoManager.Server/CryptoManager.WebApi/CryptoDBLite.sqlite
/CryptoManager.Server/CryptoManager.Business.Test/bin/Release/netcoreapp2.0
/CryptoManager.Server/CryptoManager.Repository.Test/bin/Release/netcoreapp2.0
/CryptoManager.Server/CryptoManager.WebApi.Test/bin/Release/netcoreapp2.0
/CryptoManager.Server/CryptoManager.Integration/obj/Debug/netstandard2.0
/CryptoManager.Server/CryptoManager.Integration/obj
/CryptoManager.Server/CryptoManager.Integration.Test/obj/Debug/netstandard2.0
/CryptoManager.Server/CryptoManager.Integration.Test/bin/Debug/netstandard2.0
/CryptoManager.Server/CryptoManager.Integration.Test/obj
/CryptoManager.Server/CryptoManager.Integration.Test/bin/Debug/netcoreapp2.0
/CryptoManager.Server/CryptoManager.Integration/bin/Debug/netstandard2.0
/CryptoManager.Server/CryptoManager.Integration/bin/Release/netstandard2.0
.DS_Store
*.sqlite
CryptoManager.Server/CryptoManager.Business/bin
CryptoManager.Server/CryptoManager.Business.Test/bin
CryptoManager.Server/CryptoManager.Domain/bin
CryptoManager.Server/CryptoManager.Integration/bin
CryptoManager.Server/CryptoManager.Integration.Test/bin
CryptoManager.Server/CryptoManager.Repository/bin
CryptoManager.Server/CryptoManager.Repository.Test/bin
CryptoManager.Server/CryptoManager.WebApi/bin
CryptoManager.Server/CryptoManager.WebApi.Test/bin
*.sqlite-shm
*.sqlite-wal
CryptoManager.Client/.angular